@model proiectDaw.Models.Profile

@{
    ViewBag.Titlu = "Editare profil";
}

<h2>@ViewBag.Titlu</h2>
<!--<form method="post" action="/Profile/Edit">-->
@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        <label class="control-label col-md-2"> Upload file </label>
        <div class="col-md-10">
            <input type="file" name="ProfileImageFile" class="col-md-10" />
        </div>
    </div>
    @Html.Label("Username", "Username")
    <br />
    @Html.EditorFor(m => m.Username)
    @Html.ValidationMessageFor(model => model.Username, "Mandatory field!", new { @class = "text-danger " })
    <br /><br />
    @Html.Label("Last Name", "Last Name")
    <br />
    @Html.EditorFor(m => m.LastName)
    @Html.ValidationMessageFor(model => model.LastName, "Mandatory field!", new { @class = "text-danger " })
    <br /><br />
    @Html.Label("First Name", "First Name")
    <br />
    @Html.EditorFor(m => m.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName, "Mandatory field!", new { @class = "text-danger " })
    <br /><br />
    @Html.Label("Age", "Age")
    <br />
    @Html.EditorFor(m => m.Age)
    @Html.ValidationMessageFor(model => model.Age, "Mandatory field!", new { @class = "text-danger " })
    <br /><br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Modifica profil</button>
}
<!--</form>-->
