@model proiectDaw.Models.Profile

@{
	ViewBag.Title = "Show profile";
}

<h2>@Model.Username 's profile</h2>

<!--if (TempData.ContainsKey("message"))
{
	<h3 class="alert alert-success" role="alert">ViewBag.message</h3>
}-->
 


<div class="row">
	<div class="col-md-4">
		<img src="@Url.Content(Model.ProfileImagePath)" width=" 250" height="250" />
	</div>

	<div class=" col-md-4">
		<h4>About me</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Last name:
			</dt>
			<dd>
				@Model.LastName
			</dd>
			<dt>
				First name:
			</dt>
			<dd>
				@Model.FirstName
			</dd>
			<dt>
				Age:
			</dt>
			<dd>
				@Model.Age
			</dd>

		</dl>
	</div>
</div>

<br />
<a class="btn btn-sm btn-info" href="/Profile/Edit/@Model.Id"> Edit profile </a>
<br /><br />

@if (ViewBag.IsAdmin == true)
{
	<a class="btn btn-sm btn-success" href="/Categories/Index">See categories</a>
}
else
{
	<h3>Albums</h3>

	<a href="/Picture/Add" class="btn btn-primary" role="button">Add photo</a>
	<a href="/Album/New" class="btn btn-primary" role="button">Add album</a>
	<div>

		@foreach (proiectDaw.Models.Albums item in ViewBag.Albums)
		{
			// merge doar ca nu am facut controllerul la albume si nu are ce sa arata ( tabela e goala)
			<h4><a href="/Album/Show/@item.Id" class="btn btn-info" role="button">@item.Name</a></h4>
			<div class="row">

				@foreach (proiectDaw.Models.Pictures pic in item.Pictures)
				{
					<!--  aici ar trebui puse poze-->

					@Html.Partial("PhotoThumbnail", pic);

				}
			</div>
		}

	</div>
}
