@model proiectDaw.Models.Categories

@{
	ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>
<h1>@Model.Name</h1>
<br />

<a class="btn btn-sm btn-info" href="/Categories/Edit/@Model.Id">Modifica categoria</a>
<br /><br />
<form method="post" action="/Categories/Delete/@Model.Id">
	@Html.HttpMethodOverride(HttpVerbs.Delete)
	<button class="btn btn-sm btn-danger" type="submit">Sterge categoria</button>
</form>


@foreach (var item in ViewBag.Pictures)
{
	<tr>
		<td>
			@item.UserId
		</td>
		<td>
			@item.CategoryId
		</td>
		<td>
			@item.Description
		</td>
		<td>
			@item.AlbumId
		</td>
		<td>
			@item.Date
		</td>
		<td>
			<img src="@Url.Content(item.ImagePath)" width=" 250" height="250" />
		</td>

	</tr>

}



<hr />
<a class="btn btn-sm btn-success" href="/Article/Index">Inapoi la articole</a>
<br /><br />
<a class="btn btn-sm btn-success" href="/Categories/Index">Inapoi la categorii</a>
<br />

