@model proiectDaw.Models.Comments
@{
	ViewBag.Title = "Editare comentariu";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Comments/Edit/@Model.Id">
	@Html.HttpMethodOverride(HttpVerbs.Put)
	<br />
	@Html.Label("Text", "Modifica Comentariu")
	<br />
	@Html.EditorFor(m => m.Text    )
	@Html.ValidationMessageFor(model => model.Text, null, new { @class = "text-danger " })
	<br />
	<button class="btn btn-sm btn-success" type="submit">Modifica aceast comentariu</button>
</form>

